# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.RAGBOT/
.venv/
env/
venv/

# Build artifacts
scripts/llama.cpp/build/
scripts/llama.cpp/bin/

# Models
models/*.gguf
models/*.pt
models/*.onnx

# OS files
.DS_Store
Thumbs.db
